@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    font-family: 'DM Sans', sans-serif;
    background-color: #191919;
}
.container_header{
    width: 1440px;
    margin: 0 auto;
}
.container{
    width: 1300px;
    margin: 0 auto;
}
.header_wrap{
    display: flex;
    justify-content: space-between;
    padding: 40px 50px;

}

.header_logo{
    margin: 0;
}
.nav_wrap{
    display: block;


}
.nav_wrap ul{
    display: flex;
}

.nav_wrap li{
    list-style: none;
    margin-right:40px;
   
    
}
.nav_wrap li:last-child{
    margin-right:0;
}
.nav_wrap li a{
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    transition: all 0.3s;   
}

.nav_wrap li a:hover{
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    color: #118DA8;
}

/*section 1*/
.s1_wrap{
    display: flex;
    justify-content: space-evenly;
    gap: 60px;
}
.s1_content{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 153px;
}
h1{
    font-weight: 400;
    font-size: 70px;
    line-height: 88px;
    letter-spacing: 3.2px;
    color: #FFFFFF;
    margin-bottom: 74px;
}

.title{
    font-weight: 700;
    font-size: 80px;
    line-height: 88px;
    letter-spacing: 3.2px;
    color: #FFFFFF;
    
}
.s1_subtitle{
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.s1_icons{
    display: flex;
    gap: 17px;
}

/*section 2*/
.section_2{
    padding: 100px 0 160px 0;
}
.panel{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 66px;
}

h2{
    font-weight: 400;
    font-size: 64px;
    line-height: 79px;
    letter-spacing: 2.88px;    
    color: #FFFFFF; 
}


.blue_button{
    text-decoration: none;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    color: #FFFFFF;
    padding: 12px 20px;
    background-color: #118DA8;
    border-radius: 6px;
    display: inline-block;
    
}
.podcast{
    display: flex;
    background-color: black;
    border-radius: 32px;
    padding: 40px;
    gap: 53px;
    margin-bottom: 60px;
}

.s2_subtitle{
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    padding: 8px 16px;
    background-color: #191919;
    border-radius: 6px;
    margin-bottom: 48px;
    display: inline-block;
}
.episode{
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    color: #118DA8;
    margin-bottom: 18px;
}

h3{
    font-weight: 400;
    font-size: 64px;
    line-height: 70px;
    letter-spacing: 2.56px;
    color: #FFFFFF;
    margin-bottom: 28px;
}
.podcast_p{
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 18px;
}
.podcast:last-child{
    margin-bottom: 0;
}

/*section 3*/
.section_3{
    padding: 100px 0;
}
.s3_wrap{
    display: flex;
    align-items: center;
    gap:60px;
}
.s3_content a{
    display: inline-block;
    margin-bottom: 20px;

}
.s3_subtitle{
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #118DA8;
    
}
.s3_name{
    font-weight: 400;
    font-size: 65px;
    line-height: 79px;
    letter-spacing: 2.88px;
    color: #FFFFFF;
    margin-bottom: 28px;
}
.s3_p{
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 33px;
}

/*section 4*/
.section_4{
    padding: 100px;
}
.s4_wrap{
    display: flex;
    justify-content: space-between;
    background: #000000;
    border-radius: 32px;
    padding: 60px;
}
.s4_subtitle{
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #118DA8;
}
.title_s4{
    font-weight: 400;
    font-size: 72px;
    line-height: 79px;
    letter-spacing: 2.88px;
    color: #FFFFFF;
    width: 431px;
}

.s4_form{
    display: flex;
    flex-direction: column;
}
.form_name, .form_email {
    background-color: #191919;
    border: 1px solid #191919;
    border-radius: 6px;
    padding: 26px 19px;
    height: 82px;
    width: 522px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: rgba(255, 255, 255, 0.7);
}
.button_form{
    font-weight: 700;
    font-size: 15px;
    line-height: 29px;
    color: rgba(255, 255, 255, 0.7);    
    background-color: #118DA8;
    border-radius: 6px;
    width: 87px;
    height: 48px;
    display: inline-block;
}

/*section 5*/
.section_5{
    padding: 100px 0;
}
.s5_wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    
}
.s5_item{
    padding: 54px 0 0 50px;
    background-color:  #000000;
    border-radius: 32px;
    width: 423px;
    margin-bottom: 16px;
    
}
.s5_item:first-child{
    height: 321px;
}
.s5_item:last-child{
    height: 364px;
}
.stars{
    margin-bottom: 21px;
}
h4{
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    color: #FFFFFF;
    margin-bottom: 19px;
    width: 317px;
}
.s5_subtitle{
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: rgba(255, 255, 255, 0.7);
}

/*footer*/
.footer{
    padding: 100px 0 116px 0;
}

.footer_wrap{
    display: flex;
    justify-content: space-between;
    padding-right: 221px;
}
.footer_logo_block{
    margin-right: 239px;
}
.footer_logo{
    margin-bottom: 20px;
}
.footer_icons{
    display: flex;
    gap: 10px;
}
.footer_nav{
    display: flex;
    margin-right: 16px;    
}
.footer_block_1{
    margin-right: 119px;
}
.footer_block_1 li, .footer_block_2 li{
    list-style: none;
}
.footer_block_1 li a, .footer_block_2 li a{
    text-decoration: none;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    color: #FFFFFF;
}